{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">Создание заказа на продукт {{ product.name }}</div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.pk }}">
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Оставить заявку</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}